/*color palette:
    pink: #ff4095
    orange: #ff7c13
    yellow: #ffff00
    green: #86ff00
    blue: #00aeff
*/

* {
    margin: auto;
    color: white;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
}

.nav-bar {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #ff4095;
}

.nav-bar h4 {
    margin: auto 6%;
    transition: 0.7s;
}

.nav-bar h4:hover {
    color: #ff4095;
    cursor: pointer;
}

/* CONTAINER 1 */

.container-1 {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 h1 {
    margin: 0;
    padding-top: 40px;
}


/* CONTAINER 2 */

.container-2 {
    width: 100%;
    height: 350px;
    background-color: black;
}

.divider {
    width: 80%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text, .img {
    margin: 0;
    height: 100%;
    width: 100%;
}

.description {
    height: 70%;
    margin-top: 1%;
    width: 100%;
}

.description h3 {
    margin-top: 10px;
}

#name, #email, #message, #reason {
    background-color: black;
    border: none;
    margin: 10px 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.4em;
    width: 100%;
    padding: 5px;
}

#name {
    border-bottom: 3px solid yellow;
}

#email {
    border-bottom: 3px solid #00aeff
}

#reason {
    border-bottom: 3px solid #ff4095;
    background: black;
    width: 101%;
    -webkit-appearance: none;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
}

#message {
    height: 110px;
    border-bottom: 3px solid #ff7c13;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

#submit-btn {
    margin: 70px 0;
}

/* CONTAINER 3 */

.container-3 {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 3px solid #86ff00;
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.4em;
    margin: 0;
    height: 120px;
    width: 50%;
    max-width: 300px;
}

/* FOOTER */

footer {
    height: auto;
    width: 100%;
    background-color: black;
    padding: 20px 0 75px 0;
}

#inner-4 {
    border: 1px solid #ff409600;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: black;
    text-align: center;
    flex-wrap: wrap;
}

#inner-4 h6 {
    margin: auto 8px;
    
}

.bullet {
    font-size: 30px;
}

.grey {
    color: rgba(255, 255, 255, 0.366);
}

.pink {
    color: #ff4095;;
}

.orange {
    color: #ff7c13;
}

.yellow {
    color: yellow;
}

.green {
    color: #86ff00;
}

.blue {
    color: #00aeff;
}

a:link {
    text-decoration: none;
}