/*color palette:
    pink: #ff4095
    orange: #ff7c13
    yellow: #ffff00
    green: #86ff00
    blue: #00aeff
*/

* {
    margin: auto;
    color: white;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-bar {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #ff4095;
}

.nav-bar h4 {
    margin: auto 6%;
    transition: 0.7s;
}

.nav-bar h4:hover {
    color: #ff4095;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-bar h4 {
        font-size: 0.8em;
    }
}

/* CONTAINER 1 */

.container-1 {
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 h1 {
    margin: 0;
    padding-top: 40px;
}


/* CONTAINER 2 */

.container-2 {
    width: 100%;
    height: auto;
    background-color: black;
    margin-bottom: 60px;
}

.divider {
    width: 80%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text, .img {
    margin: 0;
    height: 100%;
    width: 46%;
}

.description {
    height: 70%;
    margin-top: 1%;
    width: 100%;
}

.description h3 {
    margin-top: 10px;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #00aeff
}

/* CONTAINER */

.container-3 {
    width: 100%;
    height: auto;
}

.map-container {
    width: 80%;
    height: 300px;
}

#map {
    height: 100%;
    width: 100%;
    -webkit-border-radius: 10px;
    z-index:0;
    border: 3px solid #ff7c13;
}

/* FOOTER */

footer {
    height: auto;
    width: 100%;
    background-color: black;
    padding: 20px 0 75px 0;
}

#inner-4 {
    border: 1px solid #ff409600;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: black;
    text-align: center;
    flex-wrap: wrap;
}

#inner-4 h6 {
    margin: auto 8px;
    line-height: 30px
}

.bullet {
    font-size: 30px;
}

.grey {
    color: rgba(255, 255, 255, 0.366);
}

.pink {
    color: #ff4095;;
}

.orange {
    color: #ff7c13;
}

.yellow {
    color: yellow;
}

.green {
    color: #86ff00;
}

.blue {
    color: #00aeff;
}

a:link {
    text-decoration: none;
}

@media (max-width: 850px) {
    .description h3 {
      font-size: 1.2em;
    }

}

@media (max-width: 600px) {
    .divider {
      flex-direction: column;
    }

    .img, .text {
        width: 100%;
        margin: 10px 0;
    }

    .img {
        height: 150px;
    }

    .container-2 {
        margin-bottom: 150px;
    }

    .description h3 {
        font-size: 1em;
    }
}

@keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.fade-in {
    animation: 0.75s both fadeInUp;
}