/*color palette:
    pink: #ff4095
    orange: #ff7c13
    yellow: #ffff00
    green: #86ff00
    blue: #00aeff
*/

* {
    margin: auto;
    color: white;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-bar {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #ff4095;
}

.nav-bar h4 {
    margin: auto 6%;
    transition: 0.7s;
}

.nav-bar h4:hover {
    color: #ff4095;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-bar h4 {
        font-size: 0.8em;
    }
}

/* CONTAINER 1 */

.container-1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flip {
    height: auto;
    width: auto;
    margin: 0;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card {
    height: 350px;
    width: 350px;
    margin: 0 15px 30px 15px;
    border-radius: 3%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip:focus {
    outline: 0;
}

.flip:hover .flip-card,
.flip:focus .flip-card{
  transform: rotateY(180deg);
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2%;
}

.front {
    white-space: nowrap;
    z-index: 2;
    background-color: transparent;
}

.back {
    z-index: 1;
    background-color: black;
    transform: rotateY(180deg);
    top: -3px;
    left: -3px;
}

.back h3 {
    margin: 40px 30px;
}

.back-6 h3, .back-1 h3 {
    font-size: 1em;
}

.front h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
    font-size: 30px;
}

.front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    background-color: transparent;
}

.item-1, .item-6, .back-1, .back-6 {
    border: 3px solid #00aeff;
}

.item-2, .back-2 {
    border: 3px solid #ff7c13;
}

.item-3, .back-3 {
    border: 3px solid #86ff00;
}

.item-4, .back-4 {
    border: 3px solid #ff4095;
}

.item-5, .back-5 {
    border: 3px solid yellow;
}

@media (max-width: 600px) {
    .flip-card {
        height: 300px;
        width: 300px;
    }

    .front h2 {
        font-size: 1.5em;
    }
}

/* FOOTER */

footer {
    height: auto;
    width: 100%;
    background-color: black;
    padding: 20px 0 75px 0;
}

#inner-4 {
    border: 1px solid #ff409600;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: black;
    text-align: center;
    flex-wrap: wrap;
}

#inner-4 h6 {
    margin: auto 8px;
    line-height: 30px
}

.bullet {
    font-size: 30px;
}

.grey {
    color: rgba(255, 255, 255, 0.366);
}

.pink {
    color: #ff4095;;
}

.orange {
    color: #ff7c13;
}

.yellow {
    color: yellow;
}

.green {
    color: #86ff00;
}

.blue {
    color: #00aeff;
}

/* CONTAINER 2 */

.container-2 {
    height: 175px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.container-2 h1 {
    margin: 0;
    padding-top: 40px;
}

a:link {
    text-decoration: none;
}

@keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.fade-in {
    animation: 0.75s both fadeInUp;
}